<div class="modal-header border-0 pb-0 bg-cream">
  <h4 class="modal-title fw-bold dark-gray">{{ translationService.modalTranslate(project.name) }}</h4>
  <button class="btn-close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body pt-0 bg-cream">
  <ngb-carousel *ngIf="project.pictures.length > 0" class="rounded overflow-hidden shadow-sm mb-4">
    <ng-template ngbSlide *ngFor="let picture of project.pictures; let i = index">
      <img
        [src]="picture"
        class="d-block w-100"
        style="height: 400px; object-fit: cover"
        [alt]="'Imagen ' + (i + 1)"
      />
    </ng-template>
  </ngb-carousel>
  <p class="text-justified">{{ translationService.modalTranslate(project.description) }}</p>
  <p class="mt-4 d-flex flex-column justify-content-center align-items-center gap-1">
    <img src="assets/social/github-black.svg" alt="github" width="50" height="50">
    <a [href]="project.projectLink" target="_blank" class="fw-semibold link-primary text-decoration-none">
      {{ translationService.modalTranslate(project.name) }}
    </a>
  </p>
</div>

