<div class="container-fluid">
  <div class="row">
    <div class="col-lg-10 mx-auto mb-4 text-white">
      <div class="row g-4 justify-content-around">
        <ng-container *ngIf="projects && projects.length > 0; else noProjects">
          <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let project of projects">
            <app-project-card [project]="project"></app-project-card>
          </div>
        </ng-container>
        <ng-template #noProjects>
          <div class="col-12">
            <div class="card shadow text-center mx-auto border-0" style="max-width: 400px;">
              <div class="card-body py-5">
                <h5 class="card-title fs-3 text-muted">
                  <i class="bi bi-three-dots"></i> More to come...
                </h5>
                <p class="card-text text-secondary">
                  Próximamente más proyectos e ideas.
                </p>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
