.home {
  padding-top: 315px;
}

.title {
  color: #d4b483; 
}

a {
  transition: transform 0.3 ease-in-out;
}
a:hover {
  transform: scale(1.1);
}

.mail {
  background-color: #f5f0e1;
  color: #1c1c1c; 
}

.mail:hover {
  background-color: #d4b483; 
}



